<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<div th:replace="fragments :: navigation"></div>
<body>
<div class="container">

    <div class="mt-5 main-content">
        <div class="text-center no-stories" th:unless="${activeStory} and ${activeStory.active}">
            No Stories Yet
        </div>
        <div th:if="${activeStory} and ${activeStory.active}">
            <h3 class="mb-3 text-center" th:text="${activeStory.title}"></h3>
            <div th:each="cont : ${currentStory}">
                <div class="ml-5 text-center col-9 story-content" th:text="${cont.text}">
                </div>
                <div class="ml-2 text-center col-2 story-content" th:text="${cont.user.name}">
                </div>

            </div>
        </div>
    </div>

    <form class="mt-5" method="POST" th:object="${contribution}">
        <h2 class="text-center">Contribute to Story</h2>
        <div class="form-group col-8">
            <label th:for="text">Contribution:</label>
            <textarea class="form-control" th:field="*{text}"/>
            <span  th:errors="*{text}" class="error"></span>
        </div>

        <input class="sign-up-submit" type="submit" value="Submit" />
    </form>

</div><!--/container-->

<div th:replace="fragments :: footer"></div>
</body>
</html>