<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<div th:replace="fragments :: navigation"></div>
<body>
    <div class="container">
        <h2 class="mt-5 text-center">Top-Stories</h2>
        <!--Testing-->

        <div class="mt-5 main-content">
            <div class="text-center no-stories" th:unless="${story} and ${story.contributions}">
                No Stories Yet
            </div>
        </div>
        <div th:unless="${activeUser} and ${activeUser.active}">
            <div th:replace="fragments :: sign-up"></div>
        </div>

        <div th:if="${activeUser} and ${activeUser.active}">
            <div class="empty-space"></div>
        </div>

    </div><!--/container-->

    <div th:replace="fragments :: footer"></div>
</body>
</html>