<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<div th:replace="fragments :: navigation"></div>
<body>
<div class="container">
    <div th:unless="${activeUser} and ${activeUser.active}">
        <div th:replace="fragments :: login"></div>
    </div>
<!--
    <div class="mt-5 main-content" th:if="${activeUser} and ${activeUser.active}">
        <div class="text-center no-stories" th:unless="${story} and ${story.contributions}">
            You Haven't Written Any Stories Yet
        </div>
    </div>
-->
    <div class="empty-space"></div>


</div><!--/container-->

<div th:replace="fragments :: footer"></div>
</body>
</html>