<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<div th:replace="fragments :: navigation"></div>
<body>
<div class="container">
    <div th:unless="${activeUser} and ${activeUser.active}">
        <p class="mt-5 text-center main-content no-stories">Not logged in? Log in <a th:href="@{~/login}">here</a> to start a story.</p>
    </div>
    <div th:if="${activeUser} and ${activeUser.active}">
        <div th:replace="fragments :: stories"></div>
    </div>
</div><!--/container-->

<div th:replace="fragments :: footer"></div>
</body>
</html>