<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<div th:replace="fragments :: navigation"></div>
<body>
<div class="container">

    <div class="mt-5 main-content">
        <div class="text-center no-stories" th:unless="${activeStory} and ${activeStory.active}">
            No Stories Yet
        </div>
        <div th:if="${activeStory} and ${activeStory.active}">
            <h3 class="mb-3 text-center" th:text="${activeStory.title}"></h3>
            <div th:each="cont : ${currentStory}">
                <div class="ml-5 text-center col-9 story-content" th:text="${cont.text}">
                </div>
                <div class="ml-2 text-center col-2 story-content" th:text="${cont.user.name}">
                </div>

            </div>
        </div>
    </div>
    <div class="empty-space"></div>
    <div th:unless="${activeUser} and ${activeUser.active}">
        <p class="mt-5 text-center main-content no-stories">Not logged in? Log in <a th:href="@{~/login}">here</a> to start a story.</p>
    </div>
    <div th:if="${activeUser} and ${activeUser.active}">

    </div>
</div><!--/container-->

<div th:replace="fragments :: footer"></div>
</body>
</html>