body{
  background-color: hsla(180, 0%, 75%, 1);
}

.error{
  color: red;
  font-style: italic;
}

.main-navbar{
  height: 14vh;
  font-size: 3vh;
}

.secondary-navbar{
  height: 80px;
  font-size: 3.5vh;
}

.bg-default{
  color: white !important;
}

.btn-hamburger::before{
  color:white;
  content: "\2630";
  font-size: 30px;
}

.no-underline{
  border:none !important;
}

.dropdown-toggle::after{
  display:none;
}

.main-content{
  border: 1px solid hsla(0, 20%, 20%, 1);
  min-height: 50vh;
}

.no-stories{
  font-size: 4vh;
  line-height: 15;
}

.form-container{
  border: 1px solid hsla(0, 20%, 20%, 1);
}

.sign-up-submit{
  margin-left: 40%;
}

.fixed-footer{
  background-color:black;
  color:white;
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.footer-text{
    display: flex;
}