<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}">Co-operwrite</title>
    <!--navigation css-->
    <link rel="stylesheet" th:href="@{/navigation.css}" />
    <!--bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <!--bootstrap jquery-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!--popper.min.js necessary for dropdowns-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!--bootstrap js-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

<div th:fragment="navigation">
    <div class="container-fluid">
    <nav class="navbar navbar-expand navbar-light bg-dark col">
        <a class="navbar-brand bg-default" href="#">Co-operWrite</a>
        <div class="collapse nav nav-tabs navbar-collapse d-flex justify-content-end no-underline">
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link bg-default d-none d-sm-flex" href="/">Home </a>
                </li>
                <li>
                    <a class="nav-link bg-default d-none d-sm-flex" th:href="@{~/stories}">Stories</a>
                </li>
                <li th:unless="${activeUser} and ${activeUser.active}">
                    <a class="nav-link bg-default d-none d-sm-flex" href="/login">Login</a>
                </li>
                <!--TODO
                    enter a link to a url for the controller
                    that logs you out. Also below vvv
                -->
                <li th:if="${activeUser} and ${activeUser.active}">
                    <a class="nav-link bg-default d-none d-sm-flex" th:href="@{/logout/}">Logout</a>
                </li>
                <li>
                    <a class="nav-link bg-default btn-hamburger d-xs-flex d-sm-none" data-toggle="collapse" href="#collapseNav"></a>
                </li>
            </ul><!--/navbar-nav-->
        </div>
        </nav><!--/collapse nav-->
        <div th:if="${activeUser}">
            <h4>Logged in as <span th:text="${activeUser.name}"></span></h4>
        </div>
        <div th:if="${activeStory} and ${activeUser}">
            <div th:if="${activeUser.turn} == ${activeStory.turn}">
                <a th:href="@{/contribution}">Make Contribution</a>
            </div><!--TODO-->
        </div>
    </div><!--/container-fluid(0)-->

    <div class="container-fluid d-xs-flex d-sm-none"  id="collapseNav">
        <div class="collapse nav nav-tabs bg-dark bg-collapse-nav no-underline">
            <nav class="navbar navbar-expand navbar-light bg-dark col  secondary-navbar">
                <div class="nav nav-tabs navbar-collapse d-flex no-underline">
                    <ul class="navbar-nav">
                        <li class="col">
                            <a class="nav-link bg-default" href="/">Home </a>
                        </li>
                        <li class="col">
                            <a class="nav-link bg-default" th:href="@{~/stories}">Stories</a>
                        </li>
                        <li class="col" th:unless="${activeUser} and ${activeUser.active}">
                            <a class="nav-link bg-default mr-3 text-nowrap" href="/login">Login</a>
                        </li>
                        <li class="col" th:if="${activeUser} and ${activeUser.active}">
                            <a class="nav-link bg-default mr-3 text-nowrap" th:href="@{/logout/}">Logout</a>
                        </li>
                    </ul><!--/navbar-nav-->
                </div>
            </nav>
        </div>
    </div><!--/container-fluid(1)-->



</div><!--/th:navigation-->



<!--sign-up-form-->
<div th:fragment="sign-up">
    <h2 class="mt-5 text-center">Sign-Up</h2>
    <div class="mt-5 form-container pb-3">
        <form class="mt-5" method="POST" th:object="${user}">
            <div class="form-group col-8">
                <label th:for="name">Name:</label>
                <input class="form-control" th:field="*{name}"/>
                <span  th:errors="*{name}" class="error"></span>
            </div>

            <div class="form-group col-8">
                <label th:for="email">Email:</label>
                <input type="email" class="form-control" th:field="*{email}" />
                <span  th:errors="*{email}" class="error"></span>
            </div>

            <div class="form-group col-8">
                <label th:for="password">Password:</label>
                <input type="password" class="form-control" th:field="*{password}" />
                <span  th:errors="*{password}" class="error"></span>
            </div>

            <input class="sign-up-submit" type="submit" value="Join" />
        </form>
    </div><!--/form-container-->
</div>
<!--sign-up-form-->

<!--login form -->
<div th:fragment="login">
    <h2 class="mt-5 text-center">Log In</h2>
    <div class="mt-5 form-container pb-3">
        <form class="mt-5" method="POST" th:object="${user}">
            <div class="form-group col-8">
                <label th:for="name">Name:</label>
                <input class="form-control" th:field="*{name}"/>
                <span  th:errors="*{name}" class="error"></span>
            </div>

            <div class="form-group col-8">
                <label th:for="password">Password:</label>
                <input type="password" class="form-control" th:field="*{password}" />
                <span  th:errors="*{password}" class="error"></span>
            </div>

            <input class="sign-up-submit" type="submit" value="Log In" />
        </form>
    </div>
</div>
<!--/login form -->

<!--stories form -->
<div th:fragment="stories">
    <h2 class="mt-5 text-center">New Story</h2>
    <div class="mt-5 form-container pb-3">
        <form class="mt-5" method="POST">
            <div class="form-group col-8">
                <label th:for="title">Title:</label>
                <input class="form-control" th:field="${story.title}"/>
                <span  th:errors="${story.title}" class="error"></span>
            </div>

            <div class="form-group col-8">
                <label th:for="turns">Number of Turns:(Minimum 3)</label>
                <input class="form-control" th:field="${story.turns}"/>
                <span  th:errors="${story.turns}" class="error"></span>
            </div>

            <h3 class="ml-5 mt-5 mb-5">Choose Your Co-Authors by Entering their Emails (minimum 2):</h3>

            <div th:each="i : ${#numbers.sequence(1, 6)}">
                <div class="form-group col-8">
                    <label th:for="email" >Participant <span th:text="__${i}__"></span></label>

                    <input class="form-control" th:name="email + __${i}__"/>
                    <span  class="error"></span>
                </div>
            </div>

            <h3 class="ml-5 mt-5 mb-5">Begin Your Story:</h3>

            <div class="form-group col-8">
                <label th:for="text">Contribution:</label>
                <textarea class="form-control contrib-text" th:field="${contribution.text}"/>
                <span  th:errors="${contribution.text}" class="error"></span>
            </div>

            <input class="sign-up-submit" type="submit" value="Start Your Story" />
        </form>
    </div>
</div>
<!--/stories form -->




<!--footer-->

<div th:fragment="footer">
    <div class="mt-5 nav navbar fixed-footer bg-dark">
        <span class="footer-text mx-auto"> footer placeholder</span>
    </div>
</div>

<!--/footer-->


</body>
</html>